In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

In [2]:
# it lists all files in the dataset folder
files = os.listdir("dataset")

In [3]:
# Code to check if all files have the columns in common
"""
df = pd.read_csv("dataset/" + files[0])
columns = df.columns

for file in files[1:]:
    df = pd.read_csv("dataset/" + file)
    print(f"Checking file : {file}...")
    # check if 2 files has the columns in common
    common_cols = set(columns) & set(df.columns)
    if len(common_cols) > 1:
        print(f"\t for {file} there are {len(common_cols)} common columns")
    else:
        print(f"Columns of file {file} : {df.columns}")
        print("The columns are not the same, exiting...")
        sys.exit(1)
"""

'\ndf = pd.read_csv("dataset/" + files[0])\ncolumns = df.columns\n\nfor file in files[1:]:\n    df = pd.read_csv("dataset/" + file)\n    print(f"Checking file : {file}...")\n    # check if 2 files has the columns in common\n    common_cols = set(columns) & set(df.columns)\n    if len(common_cols) > 1:\n        print(f"\t for {file} there are {len(common_cols)} common columns")\n    else:\n        print(f"Columns of file {file} : {df.columns}")\n        print("The columns are not the same, exiting...")\n        sys.exit(1)\n'

:

In [ ]:
def print_missing_values(df, file):
    print(f"File : {file}")
    for col in df.columns:
        n_miss = df[col].isnull().sum()
        perc = n_miss / df.shape[0] * 100
        if (n_miss > 0):	
            print(f"\t{col} : {n_miss} missing values, {perc:.2f}%")

def print_missing_values_in_file(dataframe, file, fd):
    fd.write(f"File : {file}\n")
    for col in dataframe.columns:
        n_miss = dataframe[col].isnull().sum()
        perc = n_miss / dataframe.shape[0] * 100
        if (n_miss > 0):	
            fd.write(f"\t{col} : {n_miss} missing values, {perc:.2f}%\n")

with open("missing_values.txt", "w") as fd:
    for file in files:
        dataframe = pd.read_csv("dataset/" + file)
        print_missing_values_in_file(dataframe, file, fd)

In [8]:
df_time = pd.read_csv("dataset"+"/"+files[0])

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

DATE_COLUMNS = ["DATDEP", "PLANNED_DATE_ARR", "PLANNED_DATE_ARR", "PLANNED_DATE_DEP", "REAL_DATE_ARR", "REAL_DATE_DEP"]
for d in DATE_COLUMNS:
    df_time[d] = pd.to_datetime(df_time[d], format="%d%b%Y", errors="coerce")

HOURLY_COLUMNS = ["REAL_TIME_ARR", "REAL_TIME_DEP", "PLANNED_TIME_ARR", "PLANNED_TIME_DEP"]
for h in HOURLY_COLUMNS:
    df_time[h] = pd.to_datetime(df_time[h], format="%H:%M:%S")

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

display(df_time.head())

Memory usage : 1482.634970664978 MB
Memory usage : 694.5826148986816 MB

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
0,2014-01-01,10,ICE,SNCB/NMBS,825,37,1900-01-01 20:29:50,1900-01-01 20:28:41,1900-01-01 20:29:00,1900-01-01 20:29:00,-19,-19,NaN,HERGENRATH,37,2014-01-01,2014-01-01,2014-01-01,2014-01-01
1,2014-01-01,10,ICE,SNCB/NMBS,266,37,1900-01-01 20:41:26,1900-01-01 20:41:26,1900-01-01 20:40:00,1900-01-01 20:40:00,86,86,NaN,CHENEE,3,2014-01-01,2014-01-01,2014-01-01,2014-01-01
2,2014-01-01,10,ICE,SNCB/NMBS,27,37,1900-01-01 20:42:26,1900-01-01 20:42:30,1900-01-01 20:41:00,1900-01-01 20:41:00,86,90,NaN,ANGLEUR,37,2014-01-01,2014-01-01,2014-01-01,2014-01-01
3,2014-01-01,10,ICE,SNCB/NMBS,726,36,1900-01-01 20:45:41,1900-01-01 20:47:14,1900-01-01 20:44:00,1900-01-01 20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,2014-01-01,2014-01-01,2014-01-01,2014-01-01
4,2014-01-01,10,ICE,SNCB/NMBS,31,2,1900-01-01 20:51:22,1900-01-01 20:51:26,1900-01-01 20:51:00,1900-01-01 20:51:00,22,26,NaN,ANS,36,2014-01-01,2014-01-01,2014-01-01,2014-01-01