In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import csv
import sys

In [2]:
# it lists all files in the dataset folder
files = os.listdir("dataset")

In [3]:
# Code to check if all files have the columns in common
"""
df = pd.read_csv("dataset/" + files[0])
columns = df.columns

for file in files[1:]:
    df = pd.read_csv("dataset/" + file)
    print(f"Checking file : {file}...")
    # check if 2 files has the columns in common
    common_cols = set(columns) & set(df.columns)
    if len(common_cols) > 1:
        print(f"\t for {file} there are {len(common_cols)} common columns")
    else:
        print(f"Columns of file {file} : {df.columns}")
        print("The columns are not the same, exiting...")
        sys.exit(1)
"""

'\ndf = pd.read_csv("dataset/" + files[0])\ncolumns = df.columns\n\nfor file in files[1:]:\n    df = pd.read_csv("dataset/" + file)\n    print(f"Checking file : {file}...")\n    # check if 2 files has the columns in common\n    common_cols = set(columns) & set(df.columns)\n    if len(common_cols) > 1:\n        print(f"\t for {file} there are {len(common_cols)} common columns")\n    else:\n        print(f"Columns of file {file} : {df.columns}")\n        print("The columns are not the same, exiting...")\n        sys.exit(1)\n'

:

In [ ]:
def print_missing_values(df, file):
    print(f"File : {file}")
    for col in df.columns:
        n_miss = df[col].isnull().sum()
        perc = n_miss / df.shape[0] * 100
        if (n_miss > 0):	
            print(f"\t{col} : {n_miss} missing values, {perc:.2f}%")

def print_missing_values_in_file(dataframe, file, fd):
    fd.write(f"File : {file}\n")
    for col in dataframe.columns:
        n_miss = dataframe[col].isnull().sum()
        perc = n_miss / dataframe.shape[0] * 100
        if (n_miss > 0):	
            fd.write(f"\t{col} : {n_miss} missing values, {perc:.2f}%\n")

"""with open("missing_values.txt", "w") as fd:
    for file in files:
        dataframe = pd.read_csv("dataset/" + file)
        print_missing_values_in_file(dataframe, file, fd)"""

In [3]:
df_time = pd.read_csv("dataset"+"/"+files[0])

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

DATE_COLUMNS = ["DATDEP", "PLANNED_DATE_ARR", "PLANNED_DATE_ARR", "PLANNED_DATE_DEP", "REAL_DATE_ARR", "REAL_DATE_DEP"]
for d in DATE_COLUMNS:
    df_time[d] = pd.to_datetime(df_time[d], format="%d%b%Y", errors="coerce")

HOURLY_COLUMNS = ["REAL_TIME_ARR", "REAL_TIME_DEP", "PLANNED_TIME_ARR", "PLANNED_TIME_DEP"]
for h in HOURLY_COLUMNS:
    df_time[h] = pd.to_datetime(df_time[h], format="%H:%M:%S")

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

display(df_time.head())

Memory usage : 1678.422854423523 MB
Memory usage : 765.6387329101562 MB

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
0,2014-01-01,10,ICE,SNCB/NMBS,825,37,1900-01-01 20:29:50,1900-01-01 20:28:41,1900-01-01 20:29:00,1900-01-01 20:29:00,-19,-19,NaN,HERGENRATH,37,2014-01-01,2014-01-01,2014-01-01,2014-01-01
1,2014-01-01,10,ICE,SNCB/NMBS,266,37,1900-01-01 20:41:26,1900-01-01 20:41:26,1900-01-01 20:40:00,1900-01-01 20:40:00,86,86,NaN,CHENEE,3,2014-01-01,2014-01-01,2014-01-01,2014-01-01
2,2014-01-01,10,ICE,SNCB/NMBS,27,37,1900-01-01 20:42:26,1900-01-01 20:42:30,1900-01-01 20:41:00,1900-01-01 20:41:00,86,90,NaN,ANGLEUR,37,2014-01-01,2014-01-01,2014-01-01,2014-01-01
3,2014-01-01,10,ICE,SNCB/NMBS,726,36,1900-01-01 20:45:41,1900-01-01 20:47:14,1900-01-01 20:44:00,1900-01-01 20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,2014-01-01,2014-01-01,2014-01-01,2014-01-01
4,2014-01-01,10,ICE,SNCB/NMBS,31,2,1900-01-01 20:51:22,1900-01-01 20:51:26,1900-01-01 20:51:00,1900-01-01 20:51:00,22,26,NaN,ANS,36,2014-01-01,2014-01-01,2014-01-01,2014-01-01

In [6]:
TRAIN_SERV_TYPES = set()

for file in files:
    df = pd.read_csv("dataset/" + file)
    unique_values = set(df["TRAIN_SERV"].unique())
    TRAIN_SERV_TYPES.update(unique_values)

print(TRAIN_SERV_TYPES)
# returns : {'CAPTRAIN', 'EUROSTARFR', 'EUROSTAR', 'BELGORAIL', 'SNCB/NMBS', 'RAILTRAXX', 'THI-FACT', 'EURSLEEPER', 'CROSSRAIL'}

C:\Users\leiya\AppData\Local\Temp\ipykernel_34312\2010244924.py:4: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset/" + file)

{'RAILTRAXX', 'EUROSTARFR', 'EUROSTAR', 'SNCB/NMBS', 'THI-FACT', 'EURSLEEPER', 'CROSSRAIL', 'BELGORAIL', 'CAPTRAIN'}

In [17]:
df = pd.read_csv("dataset/" + files[0])
TRAIN_SERV_TYPES = ['CAPTRAIN', 'EUROSTARFR', 'EUROSTAR', 'BELGORAIL', 'SNCB/NMBS', 'RAILTRAXX', 'THI-FACT', 'EURSLEEPER', 'CROSSRAIL']

INDEXED_TRAIN_SERV_TYPES = {serv_type:i for i, serv_type in enumerate(TRAIN_SERV_TYPES)}

print(INDEXED_TRAIN_SERV_TYPES)

display(df.head())

df["TRAIN_SERV"] = df["TRAIN_SERV"].map(INDEXED_TRAIN_SERV_TYPES)

display(df.head())

with open("TRAIN_SERV.csv", mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["ID", "COMPANY"]) 
    for key, value in INDEXED_TRAIN_SERV_TYPES.items():
        writer.writerow([value, key])

{'CAPTRAIN': 0, 'EUROSTARFR': 1, 'EUROSTAR': 2, 'BELGORAIL': 3, 'SNCB/NMBS': 4, 'RAILTRAXX': 5, 'THI-FACT': 6, 'EURSLEEPER': 7, 'CROSSRAIL': 8}

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
0,01JAN2014,10,ICE,SNCB/NMBS,825,37,20:29:50,20:28:41,20:29:00,20:29:00,-19,-19,NaN,HERGENRATH,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
1,01JAN2014,10,ICE,SNCB/NMBS,266,37,20:41:26,20:41:26,20:40:00,20:40:00,86,86,NaN,CHENEE,3,01JAN2014,01JAN2014,01JAN2014,01JAN2014
2,01JAN2014,10,ICE,SNCB/NMBS,27,37,20:42:26,20:42:30,20:41:00,20:41:00,86,90,NaN,ANGLEUR,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
3,01JAN2014,10,ICE,SNCB/NMBS,726,36,20:45:41,20:47:14,20:44:00,20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
4,01JAN2014,10,ICE,SNCB/NMBS,31,2,20:51:22,20:51:26,20:51:00,20:51:00,22,26,NaN,ANS,36,01JAN2014,01JAN2014,01JAN2014,01JAN2014

,DATDEP,TRAIN_NO,RELATION,TRAIN_SERV,PTCAR_NO,LINE_NO_DEP,REAL_TIME_ARR,REAL_TIME_DEP,PLANNED_TIME_ARR,PLANNED_TIME_DEP,DELAY_ARR,DELAY_DEP,RELATION_DIRECTION,PTCAR_LG_NM_NL,LINE_NO_ARR,PLANNED_DATE_ARR,PLANNED_DATE_DEP,REAL_DATE_ARR,REAL_DATE_DEP
0,01JAN2014,10,ICE,4,825,37,20:29:50,20:28:41,20:29:00,20:29:00,-19,-19,NaN,HERGENRATH,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
1,01JAN2014,10,ICE,4,266,37,20:41:26,20:41:26,20:40:00,20:40:00,86,86,NaN,CHENEE,3,01JAN2014,01JAN2014,01JAN2014,01JAN2014
2,01JAN2014,10,ICE,4,27,37,20:42:26,20:42:30,20:41:00,20:41:00,86,90,NaN,ANGLEUR,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
3,01JAN2014,10,ICE,4,726,36,20:45:41,20:47:14,20:44:00,20:46:00,101,74,NaN,LIEGE-GUILLEMINS,37,01JAN2014,01JAN2014,01JAN2014,01JAN2014
4,01JAN2014,10,ICE,4,31,2,20:51:22,20:51:26,20:51:00,20:51:00,22,26,NaN,ANS,36,01JAN2014,01JAN2014,01JAN2014,01JAN2014

In [ ]:
PTCAR_LG_NM_NL = set()

for file in files:
    df = pd.read_csv("dataset/" + file)
    unique_values = set(df["PTCAR_LG_NM_NL"].unique())
    PTCAR_LG_NM_NL.update(unique_values)

print(PTCAR_LG_NM_NL)

station = sorted(PTCAR_LG_NM_NL)  
INDEXED_STATION = {name: idx for idx, name in enumerate(station)}

with open("UNIQUE_STATION.csv", mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["ID", "STATION"]) 
    for key, value in INDEXED_STATION.items():
        writer.writerow([value, key])

C:\Users\leiya\AppData\Local\Temp\ipykernel_34312\3111007133.py:4: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset/" + file)

{'GENT-SINT-PIETERS-BUNDELS L/M', 'ZEEBRUGGE-DORP', 'SCLAIGNEAUX', 'LIGNY', 'TROIS-PONTS', 'NEUFVILLES', 'LIERS-FAISCEAU', 'BARVAUX', 'BINCHE', 'VELTEM', 'COUVIN', 'EKE-NAZARETH', 'STOCKEM-A.T.', 'HENNUYERES', 'BOECHOUT', 'NIVELLES', 'VORST-RIJTUIGEN', 'FLEURUS', 'SCHULEN-WIJKSPOOR', 'ROTTERDAM CENTRAAL', 'WATERMAAL', 'SCHAARBEEK-SPOOR LZ', 'DRONGEN', 'BRUGGE-DIJK', 'ANTWERPEN-NOORD-PERRON MAINHUB', 'FROYENNES', 'HOURPES', 'HAVRE', 'IZEGEM', 'ANSEREMME', 'REBAIX', 'GLONS', 'GRAIDE', 'MUNKZWALM', 'VORST-RIJTUIGEN-PERRON TW-HST', 'BRUSSEL-NOORD', 'TAMINES', 'HAMOIR', 'ANTWERPEN-HAVEN', 'SOIGNIES', 'MACHELEN', 'HONY', 'BASSE-WAVRE', 'CARLSBOURG', 'VIVILLE', 'FEXHE-LE-HAUT-CLOCHER', 'NEUFVILLES-GARAGE', 'SCHULEN', 'QUAREGNON', 'VIJFHUIZEN', 'CHATELET-FORMATION', 'VIANE-MOERBEKE', 'OBOURG-MARCHANDISES', 'CAMBRON-CASTEAU', 'ANTWERPEN-NOORD-BUNDEL C1', 'ERPS-KWERPS', 'HERENT', 'FLORIVAL', 'RUISBROEK-BUNDEL', 'IDEGEM', 'TROOZ', 'HERGENRATH', 'DINANT', 'BOMAL', 'HASSELT-BUNDEL E', 'HOLLEKEN', 'HALLE', 'HANSBEKE', 'BERLAAR', 'PAPIGNIES', 'KESSEL', 'HUIZINGEN', 'BALEGEM-ZUID', 'BRUSSEL-ZUID-T.W.-HST', 'MARCHIENNE-AU-PONT', 'WILDERT', 'MOUTERIJ', 'MEVERGNIES-ATTRE', 'SLEIDINGE', 'BLERET', 'TILLY-GARAGE', 'UKKEL-KALEVOET', 'STOCKEM', 'EREMBODEGEM', 'BASSENGE', 'KINKEMPOIS-A.T./D.E.', 'LOUVAIN-LA-NEUVE-UNIVERSITE', 'ANTWERPEN-D.S.-LILLO', 'SINT-MARIABURG', 'DAVE-SAINT-MARTIN', 'FLOREFFE', 'SCHAARBEEK-T.W./E.', 'HABAY', 'MUIZEN', 'ANTWERPEN-OOST', 'MAUBRAY', 'ANDENNE', 'ANTWERPEN-NOORD-BUNDEL B1', 'SILLY', 'DUINBERGEN', 'BEVEREN(WAAS)', 'FORCHIES', 'FRANIERE', 'OKEGEM', 'ANTWERPEN-NOORD-C.H.W.', 'YVES-GOMEZEE', 'ZONHOVEN', 'FLORENVILLE', 'LEDE', 'BURST', 'RIVAGE', 'TILLEUR', 'CHAUDFONTAINE', 'MELKOUWEN', 'AARSELE', 'COMBLAIN-LA-TOUR', 'BOKRIJK', 'SCHAARBEEK-NOS', 'LIEDEKERKE', 'KORTRIJK-GOEDEREN', 'MAFFLE', 'LIEGE-SAINT-LAMBERT', 'SINT-JOB', 'SCHAARBEEK-VORMING', 'ANTWERPEN-W.H.-B.LIEFKENSHOEK', 'MILMORT', 'OOSTENDE-T.W.', 'GEEL', 'PUURS', 'MANAGE', 'BIERGES-WALIBI', 'NAMECHE', 'AALTER', 'HOEILAART', 'MONCEAU-CHARGEMENT GASOIL', 'MERELBEKE-SAS T.W.', 'CLABECQ', 'HAININ', 'ASSESSE', 'SERSKAMP', 'BOUWEL', 'VISE', 'BEGIJNENDIJK', 'STOUMONT', 'JEMEPPE-FROIDMONT', 'MARCHE-LES-DAMES', 'RONET', 'GENT-DAMPOORT', 'ANTWERPEN-D.S.-GROENLAND', 'RONSE', 'BRUSSEL-NATIONAAL-LUCHTHAVEN', 'MONTZEN-EST', 'ZANDBERGEN', 'SCHAARBEEK-BUNDEL V', 'ZOTTEGEM', 'POPERINGE', 'BRAINE-ALLIANCE-CDS824', 'ANTWERPEN-NOORD-PERRON CHW', 'LEVAL', 'ARCADEN', 'SCHAARBEEK-SAS K/C', 'SCHAARBEEK-PERRON P.C.I.', 'HERSEAUX', 'JEMEPPE-SUR-SAMBRE-MARCHANDISE', 'TERTRE', 'ARCHENNES', 'BRUGELETTE', 'JAMIOULX', 'JAVA', 'LAUWE', 'EVERGEM-BUNDEL ZANDEKEN', 'THEUX', 'BRUGGE-BUNDEL A', 'NIMY', 'ANTWERPEN-BERCHEM', 'DENDERMONDE', 'FARCIENNES', 'MELSELE', 'CHARLEROI-SUD', 'LEMAN', 'ZWANKENDAMME', 'CHATELET-GASOIL', 'OLEN-SAS', 'BILZEN-WIJKSPOOR', 'FLEMALLE-HAUTE', 'MERY', 'VORST-OOST', 'LEUZE', 'TERNAT', 'WICHELEN', 'GALMAARDEN', 'VORST-BUNDEL M', 'JEMELLE', 'ESNEUX', 'NATOYE', 'OUDENAARDE', 'WAREGEM', 'LE CAMPINAIRE', 'NAMUR', 'WONDELGEM-BUNDEL', 'ANTWERPEN-LUCHTBAL', 'MERELBEKE-T.W.', 'ANTWERPEN-W.H.-B.KROMMENHOEK', 'EIJSDEN', 'SERAING', 'SCHAARBEEK-L.C.I.', 'ROUX', 'ANTWERPEN-NOORD-BUNDEL B3', 'HAMBOS', 'GASTUCHE', 'GOUY-LEZ-PIETON', 'SINT-GENESIUS-RODE', 'BLANKENBERGE', 'KORTENBERG', 'SINT-DENIJS-BOEKEL', 'SINT-NIKLAAS', 'PECROT', 'GENTBRUGGE', 'MALDEREN', 'CALLENELLE', 'GENT-ZEEHAVEN-SIFFERDOK', 'BRUGGE', 'HEIST-OP-DEN-BERG', 'LA LOUVIERE-SUD', 'BRUSSEL-CENTRAAL', 'HOVE', 'GENK-ZUID-R.O.-HAVEN', 'WAREMME', 'MOUSTIER', 'SCHULEN-SAS', 'KOKSIJDE', 'JAMBES', 'PEPINSTER', 'NANINNE', 'ANTWERPEN-NOORDERDOKKEN', 'LIMAL', 'MOLLEM', 'ZEEBRUGGE-BUNDEL PELIKAAN', 'RODANGE', 'ANTWERPEN-D.S.-ALASKA', 'SINT-GILLIS(DENDERMONDE)', 'HUY', 'COO', 'GROOT-BIJGAARDEN', 'JETTE', 'LISSEWEGE', 'AARSCHOT', 'OVERPELT', 'BRUSSEL-KAPELLEKERK', 'MARBEHAN', 'GENT-SINT-PIETERS-BUNDEL B', 'ANTOING', 'CHARLEROI-CENTRAL', 'NIEUWKERKEN-WAAS', 'CHASTRE', 'ANTWERPEN-NOORD-BUNDEL A2', 'SOLRE-SUR-SAMBRE', 'MOESKROEN', 'TIELT', 'LANDELIES', 'BERINGEN', 'LOT', 'SCHAARBEEK-PERRON VORMING', 'LA LOUVIERE-GARE INDUSTRIELLE', 'LEUVEN', 'WEZEMAAL', 'HEIZIJDE', 'DELTA', 'BUGGENHOUT', 'KAPELLE-OP-DEN-BOS', 'TORHOUT', 'GODARVILLE', 'OOSTENDE-PERRON T.O.P.', 'ATH', 'POULSEUR', 'GENT-ZEEHAVEN-GROOT DOK', 'TEMSE', 'RONET-FORMATION', 'LIEGE-CARRE', 'CHAPELLE-DIEU', "BRAINE-L'ALLEUD", 'LEUVEN-BUNDEL F', 'FELUY-ZONING', 'KORTENBERG-GOEDEREN', 'STATTE', 'ANTWERPEN-ZUID', 'TURNHOUT-BUNDEL', 'LONDERZEEL', 'SCHOONAARDE', 'THIEU', 'SCHAARBEEK-GROEP R', 'RHISNES-SAS', 'GENVAL', 'ANTWERPEN-SCHIJNPOORT-CARWASH', 'ERBISOEUL', 'GRUPONT', 'ANTWERPEN-NOORD-BUNDEL D', 'LILLE-EUROPE', 'LUTTRE', 'BRUSSELS AIRPORT - ZAVENTEM', 'KORTRIJK', 'LANDSKOUTER', 'CHATELET-FAISCEAU C', 'VORST-ZUID-SPOREN 920/926', 'GAVERE-ASPER', 'LOKEREN-OOST', 'ANTWERPEN-DS-NOORDZEETERMINAL', 'ANTWERPEN-NOORD-T.W.', 'LEIGNON', 'BRUGGE-BUNDEL B', 'BLANMONT', 'TURNHOUT', 'NOSSEGEM', 'NINOVE', 'TESTELT', 'IEPER-GOEDEREN', 'WILLEBROEK', 'LONZEE', 'IZEGEM-WIJKSPOOR', 'ALKEN', 'LIERS', 'ANTWERPEN-W.H.-B.KALISHOEK', 'VERVIERS-PALAIS', 'ZEDELGEM', 'DENDERLEEUW', 'RUISBROEK-SAUVEGARDE', 'GERAARDSBERGEN', 'LEBBEKE', 'HARCHIES', 'MECHELEN', 'TOURNAI', 'SINAAI', 'BRUSSEL-SCHUMAN', 'ERNAGE', 'OUDEGEM', 'BRUSSEL-CONGRES', 'NEERWINDEN', 'CHARLEROI-OUEST', 'MONT-SAINT-GUIBERT', 'CHATELET', 'MONTZEN', 'KINKEMPOIS-RECEPTION', 'BELSELE', 'KALMTHOUT', 'COURRIERE', 'OOSTKAMP', 'BOCKSTAEL', 'LESSINES', 'HOFSTADE', 'MONS', 'HAACHT-WIJKSPOOR', 'SINT-AGATHA-BERCHEM', 'GENK', 'SCHAARBEEK-GROEP G', 'EVERE', 'LEUVEN-BUNDEL P', 'VEURNE', 'HAM-SUR-HEURE', 'DE HOEK', 'GODINNE', 'LANDEGEM', 'AYWAILLE', 'HAVERSIN-GARAGE', 'NEERPELT', 'LIERDE', 'EVERGEM', 'SCHAARBEEK-P.C.I.', 'JEMEPPE-SUR-SAMBRE', 'GEDINNE', 'NIJLEN', 'VOROUX-BASE TRAVAUX LGV', 'DIKSMUIDE', 'LIEGE-GUILLEMINS-FAISCEAU', 'VERVIERS-EST', 'MARCHE-LEZ-ECAUSSINNES', 'OPWIJK', 'LEMBEEK', 'PONT-A-CELLES', 'HEIST', 'LA LOUVIERE-CENTRE', 'KIEWIT', 'VORST-RIJTUIGEN-DIENSTPERRON', 'BEERSEL', 'MOMALLE', 'COURT-SAINT-ETIENNE', 'SCHELLE', 'VILLE-POMMEROEUL', 'KAPELLEN-WIJKSPOOR', 'AALST-KERREBROEK', 'DIESDELLE', 'ANTWERPEN-NOORD-PERRON T.C.T.', 'SY', 'HOURAING', 'VIELSALM', 'MARIEMBOURG', 'BRAINE-LE-COMTE', 'LOBBES-GARAGE', 'ARLON', 'ZEDELGEM-GOEDEREN', 'LOKEREN', 'GENT-ZEEHAVEN', 'ERQUELINNES', 'GENTBRUGGE-PERRON C.W.', 'MARCHE-EN-FAMENNE', 'BILZEN', 'VICHTE', 'HAMONT', 'HAALTERT', 'BAASRODE-ZUID', 'BUIZINGEN', 'OOSTENDE-BUNDEL B', 'GROENENDAAL', 'OOSTENDE-ZEEHAVEN', 'PHILIPPEVILLE', 'AISEAU', 'FRAIPONT', 'DUFFEL', 'OUGREE', 'ATHUS', 'AMAY', 'MOORTSELE', 'HASSELT-AFLOS L.35', 'FORRIERES', 'HASSELT-L.C.I.', 'KORTRIJK-T.O.P.', 'AALST-OOST', 'ANTWERPEN-NOORD-BUNDEL A1', 'VERTRIJK', 'BALEN-WERKPLAATSEN', 'LIBRAMONT', 'HEMIKSEM', 'MOENSBERG', 'EKEREN', 'ANTWERPEN-CENTRAAL', 'ERQUELINNES-VILLAGE', 'BEVERLO', 'EDINGEN', 'JAMBES-EST', 'NEUFCHATEAU', 'HERNE', 'DE PANNE', 'ANTWERPEN-D.S.-OORDEREN', 'SCHAARBEEK-CARWASH', 'HENNUYERES-GARAGE', 'DEINZE', 'OUD-HEVERLEE', 'SCHAARBEEK-WASINSTALLATIE', 'BEERNEM', 'LIER', 'ANDERLECHT', 'ZOLDER-KRUISSPOREN', 'NIEL', 'LIEGE-PALAIS', 'LA HULPE', 'ANS', 'OBOURG', 'ZEEBRUGGE-VOORHAVEN-WEST', 'MORTSEL-OUDE GOD', 'ANTWERPEN-NOORD-BLOK M9-N9', 'ESSEN', 'SAINT-GHISLAIN', 'KWATRECHT', 'MEISER', 'SIMONIS', 'BELLEM', 'LILLOIS', 'DIEPENBEEK', 'TERHAGEN', 'SCHAARBEEK', 'COUR-SUR-HEURE', 'BERZEE', 'FONTAINE-VALMONT', 'BOOM', 'JUSLENVILLE', 'MORTSEL-LIERSESTEENWEG', 'REMICOURT', 'EINE', 'ZEEBRUGGE-BUNDEL RAMSKAPELLE', 'MONTZEN-INSTALLATION GASOIL', 'DOLHAIN-GILEPPE', 'EDE', 'JEMEPPE-SUR-MEUSE', 'CHATEAU-DE-SEILLES', 'AUVELAIS', 'ANTWERPEN-D.S.-ANGOLA', 'SCHAARBEEK-D.O.P.', 'APPELTERRE', 'FLOREE', 'MUIZEN-GOEDEREN', 'KINKEMPOIS-A.T.', 'LANGDORP', 'KAPELLEN', 'HOBOKEN-POLDER', 'MELLE-T.W.', 'MERODE', 'ZWIJNDRECHT', 'CHARLEROI-A.T.', 'MERELBEKE', 'BRUGGE-BUNDELS U/V', 'GOUVY', 'IZEGEM-SAS', 'KONTICH-LINT', 'ROCHEFORT-JEMELLE', 'BAS-OHA', 'PHILIPPEVILLE-642', 'ERPE-MERE', 'PROFONDSART', 'WOLFSTEE', 'OOSTENDE', 'ANTWERPEN-KIEL', 'WESPELAAR-TILDONK', 'ZELZATE', 'MARCHE-LES-DAMES-MARCHANDISES', 'SINT-KATELIJNE-WAVER', 'WIJGMAAL', 'WETTEREN', 'STABROEK-SPOREN 027/028', 'HEVERLEE', 'HAM-SUR-SAMBRE', 'MASNUY-SAINT-PIERRE', 'LICHTERVELDE', 'DE PINTE', 'ANTWERPEN-SCHIJNPOORT-BUNDEL Q', 'VORST-ZUID', 'SCHAARBEEK-DOODSPOOR 814', 'JEMAPPES', 'ASSE', 'WATERLOO', 'HARELBEKE', 'HAACHT', 'BRUSSEL-KLEIN-EILAND-BUNDEL F', 'MOL', 'WEVELGEM', 'WERVIK', 'GHLIN', 'CHATELET-CARWASH', 'MECHELEN-NEKKERSPOEL', 'ZELZATE-RIEME', 'ZEEBRUGGE-BUNDEL ZWANKENDAMME', 'MORTSEL', 'VERTRIJK-WIJKSPOOR', 'HASSELT', 'VILVOORDE', 'BOORTMEERBEEK', 'TROISVIERGES', 'LUXEMBOURG', 'ARLON-P.E.D.', 'QUIEVRAIN', 'SINT-NIKLAAS-OOST', 'BEUZET', 'ZWIJNDRECHT-WIJKSPOREN', 'CHAPOIS', 'BAMBRUGGE', 'RIXENSART', 'ROESELARE', 'BORDET', 'VOROUX', 'LOMMEL', 'LIEGE-JONFOSSE', 'VERVIERS-CENTRAL', 'HILLEGEM', 'IEPER', 'SCHENDELBEKE', 'BAULERS', 'HAVERSIN', 'AALST', 'HEVER', 'FLAWINNE', 'LA ROCHE(BRABANT)', 'OBAIX-BUZET', 'FLEMALLE-ANNEXE', 'COURCELLES-MOTTE', 'LABUISSIERE', 'ENGIS', 'ANTWERPEN-D.S.-BERENDRECHT', 'MORTSEL-DEURNESTEENWEG', 'WONDELGEM', 'MARLOIE', 'QUEVY', 'STOCKEM-FAISCEAU A', 'ATHUS-FAISCEAU A', 'GENLY', 'MERELBEKE-CENTRAAL', 'SINT-TRUIDEN', 'NOORDERKEMPEN', 'WAVRE', 'KIJKUIT', 'ANTWERPEN-NOORD-BUNDEL BVRD', 'KONTICH', 'KOMEN', 'EUPEN', 'BRUSSEL-KLEIN-EILAND-CARWASH', 'LODELINSART', 'SPA', 'JURBISE', 'LEUVEN-BUNDEL Q', 'KNOKKE', 'ANGLEUR', 'LEOPOLDSBURG', 'ANTWERPEN-NOORD-BUNDEL B2', 'ZOLDER', 'CARNIERES', 'THURN EN TAXIS', 'ANTWERPEN-D.S.-IJSLAND', "BOIS D'AUSSE", 'MORLANWELZ', 'HOUYET', 'ZAVENTEM', 'VORST-CARWASH', 'RIVAGE-MARCHANDISES', 'LINKEBEEK', 'GENT-SINT-PIETERS', 'VIRTON', 'GEDINNE-MARCHANDISES', 'SCHAARBEEK-PERRON T.W./D.-NOS', 'HAREN-ZUID', 'SART-BERNARD', 'ESSENE-LOMBEEK', 'HERSTAL', 'FRANCHIMONT', 'FLEMALLE-GRANDE', 'ANTWERPEN-W.H.-B.ZUID', 'MESSANCY', 'FRAMERIES', 'PALISEUL', 'HEUSDEN', 'BERTRIX', 'BEAURAING', 'SCHELDEWINDEKE', 'OOSTENDE-BUNDEL A', 'MERCHTEM', 'ANTWERPEN-D.S.-COMBINANT', 'RUISBROEK', 'HASSELT-T.W.', 'UKKEL-STALLE', 'RONET-P.E.', 'ZEEBRUGGE-STRAND', 'POIX-SAINT-HUBERT', 'INGELMUNSTER', 'MELLE', 'BRUSSEL-WEST', 'EICHEM', 'GEMBLOUX', 'BEIGNEE', 'BUDA', 'MONS-AVIATION', 'TILFF', 'SPA-GERONSTERE', 'TOLLEMBEEK', 'FRANIERE-GARAGE', 'GONTRODE', 'MARCINELLE', 'HAUTE-FLONE', 'BISSEGEM', 'SCHAARBEEK-PERRON T.W./D.-ZOS', 'LANDEN', 'HERZELE', 'CHENEE', 'BALEGEM-DORP', 'ANTWERPEN-D.S.-WILMARSDONK', 'LUCHTBAL-WIJKBUNDEL', 'KINKEMPOIS-RELAIS', 'BRUGGE-SINT-PIETERS', 'SINT-MARTENS-BODEGEM', 'VILLERS-LA-VILLE', 'HALLE-GOEDEREN', 'LENS', 'SCHELLEBELLE', 'ANTWERPEN-NOORD-BUNDEL N', 'BRUSSEL-LUXEMBURG', 'COUILLET', 'GENT-RODENHUIZE', 'SAINT-DENIS-BOVESSE', 'FAUX', 'DIEST', 'EEKLO', 'SCHAARBEEK-BUNDEL M', 'SCHAARBEEK-JOSAPHAT', 'WEERDE', 'SCHAARBEEK-BUNDEL L', 'OTTIGNIES-RELAIS', 'MECHELEN-C.W.', 'CHARLEROI-FAISCEAU A', 'PRY', 'ZELE', 'BEERVELDE', 'HAVINNES', 'BERINGEN-MIJN', 'DILBEEK', 'BLATON', 'DEINZE-WIJKSPOREN', 'ANDENNE-MARCHANDISES', 'ZICHEM', 'ZINGEM', 'HERENTALS', 'BRACQUEGNIES', 'BRAINE-ALLIANCE', 'NESSONVAUX', 'LE COUCOU-BASE LGV', 'GENDRON-CELLES', 'BIERSET-AWANS', 'TIENEN', 'SAINT-VINCENT-BELLEFONTAINE', 'EZEMAAL', 'ETTERBEEK', 'WELKENRAEDT', 'NAMUR-HERBATTE', 'EKEREN-BRUG', 'HAREN', 'HALANZY', 'BOSVOORDE', 'ANTWERPEN-NOORD-BUNDEL C2', 'GENK-GOEDEREN', 'NINOVE-WIJKSPOOR', 'SINT-JORIS-WEERT', 'SCHAARBEEK-T.W./D.', 'BOUSSU', 'OLEN', 'ANTWERPEN-DAM', 'BORNEM', 'TILLY', 'MELREUX-HOTTON', 'SCLESSIN', 'GENT-ZEEHAVEN-SIFFERDOK R.O.', 'CINEY', 'SCHAARBEEK-BUNDEL P', 'KORTEMARK', 'BOONDAAL', 'KUREGEM-DOODSPOOR', 'LIEGE-GUILLEMINS', 'ZEEBRUGGE-VORMING', 'WAARSCHOOT', 'OTTIGNIES', 'MARCHIENNE-ZONE', 'AMPSIN', 'MAZY', 'HEIDE', 'THUIN', 'LEUVEN-BUNDEL M', 'ANDENNE-SAS', 'DIEGEM', 'PERUWELZ', 'VISE-HAUT', 'TUBIZE', 'YVOIR', 'ANTWERPEN-W.H.-B.KALLO', 'AYE', 'PEPINSTER-CITE', 'ACREN', 'ANZEGEM', 'LOBBES', 'GENT-SINT-PIETERS-BUNDEL C', 'WELLE', 'HERMALLE-SOUS-HUY', 'HASSELT-AFWISSELING', 'ANTWERPEN-D.S.-BASF', 'CEROUX-MOUSTY', 'PONT-DE-SERAING', 'LOUVAIN-LA-NEUVE', 'BRESSOUX', 'WALCOURT', 'MONCEAU-RECEPTION', 'MONCEAU-FORMATION', 'RHISNES', 'GENT-SINT-PIETERS-BUNDELS', 'CLABECQ-MARCHANDISES', 'RHISNES-GARAGE', 'MENEN', 'BOOISCHOT', 'MOUSTIER-GARAGE', 'MARIA-AALTER', 'HATRIVAL', 'FAMILLEUREUX', 'THULIN', 'TIELEN', 'BRUSSEL-ZUID', 'IDDERGEM', 'PIETON', 'LUSTIN', 'TONGEREN', 'GROENENHOEK-WIJKBUNDEL', 'BALEN', 'OLNE', 'ZELLIK', 'HASSELT-AFLOS L.35/1', 'CUESMES-A.C.', 'KINKEMPOIS-FORMATION', 'EPPEGEM', 'ECAUSSINNES', 'ANTWERPEN-D.S.-PETROL', 'AUBANGE'}

In [18]:
Relation = set()

for file in files:
    df = pd.read_csv("dataset/" + file)
    unique_values = set(df["RELATION"].unique())
    Relation.update(unique_values)

print(Relation)

relation = sorted([item for item in Relation if isinstance(item, str)])
INDEXED_RELATION = {name: idx for idx, name in enumerate(relation)}

with open("RELATION.csv", mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerow(["ID", "RELATION"]) 
    for key, value in INDEXED_RELATION.items():
        writer.writerow([value, key])

C:\Users\leiya\AppData\Local\Temp\ipykernel_34312\3510551909.py:4: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset/" + file)

{'S2-2', 'L 04', 'P', 'S9', 'L C3-1', 'IC 20-1', 'IC 29', 'IC 03', 'L A2-2', 'IC 25', 'S3-2', 'L 09', 'IC 30', 'IC 16-3', 'L 28', 'IC 10-2', 'L C2-2', 'L 35', 'L B6', 'S6-3', 'L G2', 'L B10-1', 'ICE', 'S1-2', 'L 42', 'IC/L', 'L 0P', 'L 0A', 'L 21', 'L 0M', 'L B1-2', 'L 34', 'L B5-2', 'L 32', 'L 12-1', 'L 0J', 'S6-P', 'L B9', 'L 13-1', 'S8-P', 'IC 31', 'L A2-1', 'L B1-1', 'L B8-3', 'L L37-1', 'L 08', 'S81', 'IC 06-2', 'S10-1', 'S5-1', 'IC 05', 'L 29', 'L C2-1', 'IC 34', 'L B8-1', 'L 31', 'L', 'INT', 'S20-2', 'L 0D-1', 'L S63-1', 'THAL 03', 'L A3', 'L 0L', 'S2-1', 'L 02', 'EURST', 'IC 18', 'L L3-1', 'L 23', 'IC 23-2', 'L 0I', 'L 12-2', 'L C1', 'IC 02', 'S4', 'L 10-2', 'L C3-2', 'L 20', 'L S63-2', 'ICT', 'S8-3', 'L 0H', 'L 05-1', 'L B10-2', 'L 07', 'L 0F', 'IZY', 'L 18', 'L G1', 'L 06-1', 'L 0N', 'L B2-1', 'S8-1', 'L 36', 'IC 19-2', 'IC 01', 'L 13-2', 'L 0E', 'IC 04-2', 'L 30', 'IC 33', 'IC 32', 'L 06', 'IC 16-1', 'L L3-2', 'IC 20', 'IC 11', 'L L4', 'L 14', 'TGV', 'L B4', 'L 19', 'CHARTER', 'S3-3', 'IC 26', 'IC 15', 'S3-1', 'L 25', 'EXTRA', 'IC 35-1', 'IC 06-1', 'L C4', 'L B2-2', 'IC 41', nan, 'S6-2', 'L 0O', 'S5-2', 'L L1-1', 'IC 16', 'L 22', 'L A4-2', 'IC 07', 'L 37-1', 'L A4', 'L 37-2', 'S10-P', 'IC 04-1', 'IC 13', 'THAL 01', 'L 43', 'L 41', 'L 27', 'L 0C', 'L B19', 'IC 08', 'IC 12', 'THAL 02', 'L 10-1', 'L 03', 'IC 09', 'IC 03-2', 'IC 35', 'S1-1', 'S10-3', 'L 0G', 'S6-1', 'L 13', 'L 16', 'L 15', 'L L1', 'L C3', 'IC 27', 'IC 03-1', 'S3-P', 'L B8-4', 'L L3', 'L 17', 'L B5-1', 'L L1-2', 'L 05-2', 'S7', 'IC 35-2', 'L 12', 'L 11', 'IC 23-1', 'L 33', 'IC 28', 'L 0D-2', 'L 0K', 'L B7', 'IC 21', 'IC 16-2', 'L L2', 'L 01', 'L 06-2', 'S8-4', 'L 0Q', 'L 10', 'L B3', 'IC 24', 'S5-3', 'L B20-2', 'L A5', 'IC 10-1', 'L 0B', 'L A4-1', 'S8-2', 'L G3', 'L A2', 'IC 19-1', 'L L37-2', 'IC 17', 'IC 14', 'S20-1', 'IC 10', 'L 24', 'L 26', 'L 05', 'IC 22', 'THAL', 'L B20-1', 'S10-2', 'L B8-2', 'IC 20-2', 'IC 42'}

TypeError: '<' not supported between instances of 'float' and 'str'

In [24]:
print(len(Relation))

for item in Relation:
    if isinstance(item, float):
        print(item)

#Ne pas oubliez de remove le nan avant cette opÃ©ration

217
nan

In [29]:
df_time = pd.read_csv("dataset/" + files[15])

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

DATE_COLUMNS = ["DATDEP", "PLANNED_DATE_ARR", "PLANNED_DATE_ARR", "PLANNED_DATE_DEP", "REAL_DATE_ARR", "REAL_DATE_DEP"]
for d in DATE_COLUMNS:
    df_time[d] = pd.to_datetime(df_time[d], format="%d%b%Y", errors="coerce")

HOURLY_COLUMNS = ["REAL_TIME_ARR", "REAL_TIME_DEP", "PLANNED_TIME_ARR", "PLANNED_TIME_DEP"]
for h in HOURLY_COLUMNS:
    df_time[h] = pd.to_datetime(df_time[h], format="%H:%M:%S")

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

df_time["TRAIN_SERV"] = df_time["TRAIN_SERV"].map(INDEXED_TRAIN_SERV_TYPES)

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

df_time["PTCAR_LG_NM_NL"] = df_time["PTCAR_LG_NM_NL"].map(INDEXED_STATION)

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

df_time["RELATION"] = df_time["RELATION"].map(INDEXED_RELATION)

print(f"Memory usage : {df_time.memory_usage(deep=True).sum() / 1024**2} MB")

Memory usage : 1625.9786443710327 MB
Memory usage : 810.6403551101685 MB
Memory usage : 716.8472003936768 MB
Memory usage : 620.8355321884155 MB
Memory usage : 533.8656635284424 MB

In [34]:
Data_used = 0

for file in files:
    df = pd.read_csv("dataset/" + file,low_memory=False)
    Data_used += df.memory_usage(deep=True).sum() / 1024**2

print(f"Memory used : {Data_used} MB")

Memory used : 242362.30205631256 MB

In [36]:
Data_eco = 0

for file in files:
    df = pd.read_csv("dataset/" + file,low_memory=False)
    df["TRAIN_SERV"] = df["TRAIN_SERV"].map(INDEXED_TRAIN_SERV_TYPES)
    Data_eco += df.memory_usage(deep=True).sum() / 1024**2

print(f"Memory used after encoding : {Data_eco} MB")
print(f"Economy : {Data_used - Data_eco} MB")

Memory used after encoding : 228916.98132133484 MB
Economy : 13445.320734977722 MB

In [37]:
Data_eco = 0

for file in files:
    df = pd.read_csv("dataset/" + file,low_memory=False)
    df["PTCAR_LG_NM_NL"] = df["PTCAR_LG_NM_NL"].map(INDEXED_STATION)
    Data_eco += df.memory_usage(deep=True).sum() / 1024**2

print(f"Memory used after encoding : {Data_eco} MB")
print(f"Economy : {Data_used - Data_eco} MB")

Memory used after encoding : 228615.94245815277 MB
Economy : 13746.35959815979 MB

In [42]:
test_file = pd.read_csv("dataset/" + files[20],low_memory=False)

print(f"Memory usage : {test_file.memory_usage(deep=True).sum() / 1024**2} MB")


test_file["RELATION_DIRECTION"] = test_file["RELATION_DIRECTION"].str.replace(r"^[^:]+:\s*", "", regex=True)

DATE_COLUMNS = ["DATDEP", "PLANNED_DATE_ARR", "PLANNED_DATE_ARR", "PLANNED_DATE_DEP", "REAL_DATE_ARR", "REAL_DATE_DEP"]
for d in DATE_COLUMNS:
    test_file[d] = pd.to_datetime(test_file[d], format="%d%b%Y", errors="coerce")

HOURLY_COLUMNS = ["REAL_TIME_ARR", "REAL_TIME_DEP", "PLANNED_TIME_ARR", "PLANNED_TIME_DEP"]
for h in HOURLY_COLUMNS:
    test_file[h] = pd.to_datetime(test_file[h], format="%H:%M:%S")


test_file[["START", "END"]] = test_file["RELATION_DIRECTION"].str.split(" -> ", expand=True)
test_file.drop("RELATION_DIRECTION", axis=1, inplace=True)
test_file.drop("PLANNED_DATE_DEP",axis=1, inplace=True)
test_file.drop("PLANNED_DATE_ARR",axis=1, inplace=True)
test_file.drop("REAL_DATE_ARR",axis=1, inplace=True)
test_file.drop("REAL_DATE_DEP",axis=1, inplace=True)

test_file["PTCAR_LG_NM_NL"] = test_file["PTCAR_LG_NM_NL"].map(INDEXED_STATION)
test_file["RELATION"] = test_file["RELATION"].map(INDEXED_RELATION)
test_file["TRAIN_SERV"] = test_file["TRAIN_SERV"].map(INDEXED_TRAIN_SERV_TYPES)


print(f"Memory usage : {test_file.memory_usage(deep=True).sum() / 1024**2} MB")

print(test_file.head())

Memory usage : 1722.9029607772827 MB
Memory usage : 587.098554611206 MB
      DATDEP  TRAIN_NO  RELATION  TRAIN_SERV  PTCAR_NO LINE_NO_DEP  \
0 2015-09-01        10        56           4       825          37
1 2015-09-01        10        56           4       266          37
2 2015-09-01        10        56           4        27          37
3 2015-09-01        10        56           4       726          36
4 2015-09-01        10        56           4        31           2

        REAL_TIME_ARR       REAL_TIME_DEP    PLANNED_TIME_ARR  \
0 1900-01-01 20:31:07 1900-01-01 20:29:09 1900-01-01 20:29:00
1 1900-01-01 20:40:22 1900-01-01 20:40:22 1900-01-01 20:40:00
2 1900-01-01 20:41:22 1900-01-01 20:41:18 1900-01-01 20:41:00
3 1900-01-01 20:46:15 1900-01-01 20:47:44 1900-01-01 20:44:00
4 1900-01-01 20:51:54 1900-01-01 20:51:59 1900-01-01 20:51:00

     PLANNED_TIME_DEP  DELAY_ARR  DELAY_DEP  PTCAR_LG_NM_NL LINE_NO_ARR  \
0 1900-01-01 20:29:00          9          9             342          37
1 1900-01-01 20:40:00         22         22             179           3
2 1900-01-01 20:41:00         22         18              15          37
3 1900-01-01 20:46:00        135        104             442          37
4 1900-01-01 20:51:00         54         59              16          36

                 START           END
0  FRANKFURT(MAIN) HBF  BRUSSEL-ZUID
1  FRANKFURT(MAIN) HBF  BRUSSEL-ZUID
2  FRANKFURT(MAIN) HBF  BRUSSEL-ZUID
3  FRANKFURT(MAIN) HBF  BRUSSEL-ZUID
4  FRANKFURT(MAIN) HBF  BRUSSEL-ZUID